* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.main-sections {
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

.main-sections section {
    scroll-snap-align: start;
}


/* -------  HEADER ---------  */


.main-header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
}

.main-nav {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-list {
    display: inherit;
    justify-content: space-between;
    font-family: lato;
}

.main-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: ivory;
    transition: all ease 0.5s;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 40px;
}

nav ul li a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.logo-img {
    width: 100px;
    z-index: 1;
}

/* ------ MAIN CONTAINER -------- */

.main-container {
    height: 100vh;
    background: url(/componentes/img-main.jpg);
    background-size: cover;
}

.main-title {
    position: relative;
    top: 300px;
    left: 150px;
    padding: 30px;
    width: 50%;
    color: white;
}

.main-title1 {
    font-family: lato;
    font-weight: 200;
    font-size: 110px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 4px 5px 0px rgb(8, 8, 8);
    /*     background: #BFBFBF;
    background: -webkit-linear-gradient(to right, #BFBFBF 44%, #000000 75%);
    background: -moz-linear-gradient(to right, #BFBFBF 44%, #000000 75%);
    background: linear-gradient(to right, #BFBFBF 44%, #000000 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.main-txt1 {
    font-family: roboto;
    font-size: 25px;
    letter-spacing: 2px;
    padding: 7px;
    text-shadow: 2px 4px 0px rgb(97, 97, 97);
    /*     background: #BFBFBF;
    background: -webkit-linear-gradient(to right, #BFBFBF 25%, #000000 60%);
    background: -moz-linear-gradient(to right, #BFBFBF 25%, #000000 60%);
    background: linear-gradient(to right, #BFBFBF 25%, #000000 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

/* ------  SEGUNDO CONTAINER --------- */

.section-2 {
    height: 100vh;
    background-color: rgb(112, 112, 112.);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/componentes/img-main2.jpg);
    background-size: cover;
}

.contendor-textos {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.img-profile {
    height: 600px;
    border-radius: 100%;
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.5);
    margin: 50px;
    transition: all ease-in-out 1.1s;
}

.img-profile:hover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.main-title2 {
    font-family: lato;
    font-size: 70px;
    font-weight: 200;
    letter-spacing: 2px;
    text-shadow: 2px 4px 0px rgba(255, 255, 255, 0.548);
}

.main-text2 {
    font-family: roboto;
    font-size: 30px;
    width: 800px;
}

/* ----- SECTION 3------ */

.section-3 {
    height: 100vh;
    background-image: url(/componentes/img-main3.jpg);
    background-size: cover;
}

/* -----section 4 */

.section-4 {
    height: 100vh;
    background-image: url(/componentes/img-main4.jpg);
    background-size: cover;
}