* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.main-sections {
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

.main-sections section {
    scroll-snap-align: start;
}


/* -------  HEADER ---------  */


.main-header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 2;
}

.main-nav {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-list {
    display: inherit;
    justify-content: space-between;
    font-family: lato;
}

.main-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: ivory;
    transition: all ease 0.5s;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 40px;
}

nav ul li a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.logo-img {
    width: 100px;
    z-index: 1;
}

/* ------ MAIN CONTAINER -------- */

.main-container {
    height: 100vh;
    background: url(/componentes/img-main.jpg);
    background-size: cover;
}

.main-title {
    position: relative;
    top: 300px;
    left: 150px;
    padding: 30px;
    width: 50%;
    color: white;
}

.main-title1 {
    font-family: lato;
    font-weight: 200;
    font-size: 110px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 4px 5px 0px rgb(8, 8, 8);
}

.main-txt1 {
    font-family: roboto;
    font-size: 25px;
    letter-spacing: 2px;
    padding: 7px;
    text-shadow: 2px 4px 0px rgb(97, 97, 97);
}

/* ------  SEGUNDO CONTAINER --------- */

.section-2 {
    height: 100vh;
    background-color: rgb(112, 112, 112.);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(/componentes/img-main2.jpg);
    background-size: cover;
}

.section-2-container{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.contendor-textos {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.img-profile {
    height: 600px;
    border-radius: 100%;
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.5);
    margin: 50px;
    transition: all ease-in-out 1.1s;
}

.img-profile:hover {
    animation: flip-vertical-left 1.1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
   
}

@keyframes flip-vertical-left {
    0% {
      transform: rotateY(0);
    }
    100% {
      transform: rotateY(-360deg);
    }
  }

.main-title2 {
    font-family: lato;
    font-size: 70px;
    font-weight: 200;
    letter-spacing: 2px;
    text-shadow: 2px 4px 0px rgba(255, 255, 255, 0.548);
}

.main-text2 {
    font-family: roboto;
    font-size: 30px;
    width: 800px;
}

/* ----- SECTION 3------ */

.section-3 {
    height: 100vh;
    background-image: url(/componentes/img-main3.jpg);
    background-size: cover;
}



.section-3-title {
    position: relative;
    top: 200px;
    font-family: lato;
    font-size: 50px;
    color: rgb(247, 242, 242);
}

.section-3-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 90%;
    margin: auto;
}

.section-3-cards-container{
    display: flex;
    align-items: center;
    height: 100vh;

}

.section-3-cards-container .card {
    position: relative;
    height: 200px;
    background-color: white;
    border-radius: 9px;
    margin: 30px 50px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgb(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}

.section-3-cards-container .card:hover {
    height: 270px;
    background-color: black;
}

.section-3-main .section-3-cards-container .card .img-container-card{
    position: relative;
    width: 307px;
    height: 260px;
    top: -60px;
}

.section-3-main .section-3-cards-container .card .img-container-card img {
    max-width: 100%;
    border-radius: 9px;
}

.section-3-cards-container .card .section-3-content {
    position: relative;
    top: -40px;
    text-align: center;
    color: rgb(255, 255, 255);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    font-family: lato;
    font-size: 35px;
}

.section-3-cards-container .card .section-3-content a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.section-3-cards-container .card:hover .section-3-content {
    visibility: visible;
    opacity: 1;
    margin-top: -40;
    transition-delay: 0.3s;
}





/* -----section 4 */

.section-4 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/componentes/img-main4.jpg);
    background-size: cover;
}

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
    border-radius: 10px;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url(/componentes/form-img.jpg) no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
    font-family: lato;
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #000000;
}

.field{
    font-family: roboto;
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
    font-family: lato;
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #000000;
	color: rgb(255, 255, 255);
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #ffffff;
    color: black;
    border: 2px solid black;
}

.field:focus{
    border: 2px solid rgba(0, 0, 0);
    background-color: #fff;
}






/* .section-4 {
    height: 100vh;
    background-image: url(/componentes/img-main4.jpg);
    background-size: cover;
}

.section-4-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px; 
}

.section-4-container::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(/componentes/img-form.jpg) no-repeat center;
    background-size: cover;
    z-index: -1;
}

.section-4-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffff;
} 

.img-container4-left {
    height: 100%;
    background-image: url(/componentes/img-form.jpg) no-repeat center;
    background-size: cover;
}

.form-container-right {
    padding: 25px 40px;    
}

.form-title h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.form-title h2::after {
    content: '';
    position: relative;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}


 */



/* .img-form {
    width: 550px;
    height: 600px;
} */