* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* -------  HEADER ---------  */


.main-header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
}

.main-nav {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-list {
    display: inherit;
    justify-content: space-between;
    font-family: lato;
}

.main-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: ivory;
    transition: all ease 0.5s;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 40px;
}

nav ul li a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.logo-img {
    width: 100px;
    z-index: 1;
}

/* ------ MAIN CONTAINER -------- */

.main-container {
    height: 100vh;
    background: url(/componentes/img-main.jpg);
    background-size: cover;
}

.main-title {
    position: relative;
    top: 300px;
    left: 150px;
    padding: 30px;
    width: 50%;
}

.main-title1 {
    font-family: lato;
    font-weight: 200;
    font-size: 110px;
    letter-spacing: 3px;
    text-transform: uppercase;
    background: #BFBFBF;
    background: -webkit-linear-gradient(to right, #BFBFBF 44%, #000000 75%);
    background: -moz-linear-gradient(to right, #BFBFBF 44%, #000000 75%);
    background: linear-gradient(to right, #BFBFBF 44%, #000000 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-txt1 {
    font-family: roboto;
    font-size: 25px;
    letter-spacing: 2px;
    padding: 7px;
    background: #BFBFBF;
    background: -webkit-linear-gradient(to right, #BFBFBF 25%, #000000 60%);
    background: -moz-linear-gradient(to right, #BFBFBF 25%, #000000 60%);
    background: linear-gradient(to right, #BFBFBF 25%, #000000 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ------  SEGUNDO CONTAINER --------- */